/* Header Styles */

.header {
  width: 100%;
  min-width: 375px;
  height: 114px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo {
  color: #eeeeee;
}

.header__menu {
  display: none;
}

.header__hamburger-menu {
  width: 40px;
  height: 40px;
  padding: 6px 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  gap: 4px;
  border: solid 4px #eeeeee;
  border-radius: 2px;
  cursor: pointer;
}

.hamburger-menu__bar {
  width: 20px;
  height: 4px;
  margin: auto;
  border-radius: 2px;
  background-color: #eeeeee;
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #13171c;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.mobile-menu__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  margin-right: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #eeeeee;
  cursor: pointer;
}

.mobile-menu__links {
  width: 275px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-link {
  color: #eeeeee;
  text-decoration: none;
  cursor: pointer;
}

.mobile-menu .menu-link {
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (min-width: 960px) {
  .header__hamburger-menu {
    display: none;
  }

  .header__menu {
    width: 320px;
    display: flex;
    justify-content: space-between;
  }

  .header__menu > .menu-link {
    font-size: 18px;
    font-weight: 400;
  }
}

/* Cards Styles */
.card {
  width: fit-content;
  height: 480px;
  margin: auto;
  padding: 40px 22px 0 22px;
  background-color: rgba(57, 62, 70, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__image,
.card__title,
.card__description {
  width: 280px;
  color: #eeeeee;
}

.card__image {
  border-radius: 8px;
}

.card__title {
  text-align: center;
}

.card__description {
  max-height: 130px;
  overflow: hidden;
}

@media only screen and (min-width: 960px) {
  .card {
    height: 520px;
    padding: 40px 40px 0 40px;
    margin: 0 auto;
  }
}

/* Contact Form Styles */
.contact__container {
  height: 100%;
}

.contact__title,
.contact-form {
  font-family: "Poppins", serif;
  font-weight: 700;
  color: #eeeeee;
}

.contact__title {
  width: 236px;
  margin: 40px auto;
  font-size: 42px;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
}

.contact-form__row {
  display: flex;
  flex-direction: column;
}

.contact-form__label {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-form__input,
.contact-form__textarea {
  border: none;
  border-radius: 16px;
  background-color: rgba(57, 62, 70, 0.5);
  font-family: "Poppins", serif;
  color: #eeeeee;
  font-size: 18px;
  font-weight: 700;
}

.contact-form__input {
  height: 60px;
  margin-bottom: 30px;
  padding-left: 24px;
}

.contact-form__textarea {
  height: 280px;
  margin-bottom: 25px;
  padding: 24px;
  resize: none;
}

.contact-form__send-button {
  height: 55px;
  width: 100%;
  border: none;
  border-radius: 24px;
  background-color: #00adb5;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.contact-form__send-button:hover {
  background-color: #01ced9;
}

.contact-form__send-button:active {
  background-color: #009ca4;
}

.contact-form__send-button i {
  margin-left: 5px;
}

@media only screen and (min-width: 960px) {
  .contact__container {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

  .contact__title {
    width: fill;
    margin: 160px 0;
    text-align: left;
  }

  .contact-form {
    width: 600px;
    margin: 0;
    padding: 0;
    align-self: center;
    display: grid;
    grid-template-columns: 288px 288px;
    gap: 24px;
  }

  .contact-form__row:nth-child(3) {
    grid-column: 1 / span 2;
  }

  .contact-form__input {
    margin: 0;
  }
  .contact-form__send-button {
    width: 231px;
  }
}

/* Footer Styles */
.footer {
  height: 100vh;
  min-height: 534px;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #0f1113;
  font-size: 18px;
}

.footer .logo {
  height: 50px;
  width: 50px;
}

.page-links {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.page-links a {
  text-decoration: none;
  color: #eeeeee;
}

.page-links i {
  margin-right: 5px;
}

.social-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.social-links img {
  height: 48px;
  width: 48px;
}

.copyright-notice {
  color: #eeeeee;
}

@media only screen and (min-width: 960px) {
  .footer {
    height: 400px;
    min-height: 0;
    padding: 0;
    justify-content: center;
  }

  .footer .logo {
    margin-top: 50px;
  }

  .page-links {
    margin: 40px 0 30px 0;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
  }

  .copyright-notice {
    margin: 75px 0 40px 0;
  }

  .copyright-notice a {
    text-decoration: none;
    color: #eeeeee;
  }
}
